---
layout: main
---

<link rel="stylesheet" href="/assets/css/cards.css"/>

<script src="/assets/js/lib/game-of-war.min.js"></script>
<script src="/assets/js/lib/nglib.js"></script>
<script src="/assets/js/card.min.js"></script>

<style>
.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-container-stacked {
  display: flex;
  justify-content: center;
}

.card-container-stacked > div {
  margin-left: -5.8em;
}

.card-container-stacked > div:first-child {
  margin-left: 0;
}

</style>

{% raw %}
<div ng-app="CardStackApp" ng-controller="CardStackController as csvm">
  <div class="card-container-stacked">
    <card ng-repeat="card in csvm.cards.slice(0,26)" ng-style="{'z-index': $index * 10 }" suit="{{csvm.getSuitName(card.suit)}}" rank="{{csvm.getCardName(card.rank)}}"></card>
  </div>
  <div class="card-container-stacked">
    <card ng-repeat="card in csvm.cards.slice(26)" ng-style="{'z-index': $index * 10 }" suit="{{csvm.getSuitName(card.suit)}}" rank="{{csvm.getCardName(card.rank)}}"></card>
  </div>
</div>
{% endraw %}
