---
layout: main
---

{% css cards %}

{% js js/lib/game-of-war.min.js %}
{% js js/lib/nglib.js %}
{% js js/card.min.js %}

<style>
.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-container-stacked {
  display: flex;
  justify-content: center;
}

.card-container-stacked > div {
  margin-left: -5.8em;
}

.card-container-stacked > div:first-child {
  margin-left: 0;
}

</style>

{% raw %}
<div ng-app="CardStackApp" ng-controller="CardStackController as csvm">
  <div class="card-container-stacked">
    <card ng-repeat="card in csvm.cards.slice(0,26)" ng-style="{'z-index': $index * 10 }" suit="{{csvm.getSuitName(card.suit)}}" rank="{{csvm.getCardName(card.rank)}}"></card>
  </div>
  <div class="card-container-stacked">
    <card ng-repeat="card in csvm.cards.slice(26)" ng-style="{'z-index': $index * 10 }" suit="{{csvm.getSuitName(card.suit)}}" rank="{{csvm.getCardName(card.rank)}}"></card>
  </div>
</div>
{% endraw %}


<div class="card-container">
  <div class="card ace clubs">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card two clubs">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card three clubs">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card four clubs">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card five clubs">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card six clubs">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card seven clubs">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card eight clubs">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card nine clubs">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card ten clubs">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card jack clubs">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card queen clubs">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card king clubs">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
</div>

<div class="card-container">
  <div class="card ace spades">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card two spades">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card three spades">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card four spades">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card five spades">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card six spades">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card seven spades">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card eight spades">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card nine spades">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card ten spades">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card jack spades">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card queen spades">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card king spades">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
</div>

<div class="card-container">
  <div class="card ace hearts">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card two hearts">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card three hearts">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card four hearts">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card five hearts">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card six hearts">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card seven hearts">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card eight hearts">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card nine hearts">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card ten hearts">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card jack hearts">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card queen hearts">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card king hearts">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
</div>

<div class="card-container">
  <div class="card ace diamonds">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card two diamonds">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card three diamonds">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card four diamonds">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card five diamonds">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card six diamonds">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card seven diamonds">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card eight diamonds">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card nine diamonds">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card ten diamonds">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card jack diamonds">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card queen diamonds">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="card king diamonds">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
</div>
