---
layout: main
---

{% js js/lib/game-of-war.min.js %}
{% js js/lib/nglib.js %}
{% js js/integration.min.js %}

{% css integration %}

<h1>Integration Demo</h1>

<p>This page serves as a integration spot-check</p>

{% raw %}
<div ng-app='IntegrationApp' ng-controller='IntegrationController as vm'>
 <div id="integration-container">
   <div>
     <h2>Ordered Deck</h2>
     <div class="panel">
       <div ng-repeat="card in vm.orderedDeck" class="card-display">
         <div>Suit: {{card.suit}}</div>
         <div>Rank: {{card.rank}}</div>
       </div>
     </div>
   </div>
   <div>
     <h2>Shuffled Deck</h2>
     <div class="panel">
       <div ng-repeat="card in vm.shuffledDeck" class="card-display">
         <div>Suit: {{card.suit}}</div>
         <div>Rank: {{card.rank}}</div>
       </div>
     </div>
   </div>
   <div>
     <h2>Sample Rounds</h2>
     <div ng-repeat="round in vm.results" class="round-outcome panel">
       <result result="::round"></result>
     </div>
   </div>
   <div>
     <h2>Sample Wars</h2>
     <div class="panel">
       <div><strong>Sample War</strong></div>
       <hr/>
       <result result="::vm.sampleWarResult"></result>
     </div>

     <div class="panel">
       <div><strong>Sample Double+ War</strong></div>
       <hr/>
       <result result="::vm.sampleDoubleWarResult"></result>
     </div>

     <div class="panel">
       <div><strong>Sample Three Way+ War</strong></div>
       <hr/>
       <result result="::vm.sampleThreeWayWarResult"></result>
     </div>
   </div>
 </div>
</div>
{% endraw %}
