---
layout: main
---

{% js js/lib/game-of-war.min.js %}
{% js js/lib/nglib.js %}
{% js js/simulation.min.js %}

{% css simulation %}

<h1>Simulation Demo</h1>

{% raw %}
<div ng-app='SimulationApp'>
 <div id="simulation-container">
   <!--

   STANDARD War

  -->

  <div class="war-simulation" ng-controller='StandardSimulationController as vm'>
    <div class="controls">
      <h2>War - {{vm.maxGames | number}} Games</h2>
      <p>
        <ol>
          <li>
            Each player is dealt an even amount of cards.  Excess cards are not
            used and remain on the deck.
          </li>
          <li>Game ends when a player has amassed all cards.</li>
          <li>
            When two (or more) players go to war, each player draws 2 cards, the
            latter of which is used to resolve (or continue) the war. If a player
            runs out of cards during a war (by drawing their last card as the first
            card of the war), they lose, as the winner is determined by the maximum
            card rank of the longest draw of the round.
          </li>
          <li>
            At the end of a round, the winner collects the cards and places them
            on the bottom of his/her stack. Cards can either be placed in
            the order they were revealed by each player starting with the first,
            or shuffled before being awarded to the winner.
          </li>
        </ol>
      </p>
      <div class="center">
        <input type="range" min="100" max="10000" step="100" ng-model="vm.maxGames" ng-disabled="vm.simRunning"/><br/>
        Number of games to play: {{vm.maxGames}}
      </div>
      <div class="center">
        <label><input type="checkbox" ng-model="vm.shuffleWonCards"/> Shuffle Cards before giving them to the winner<span ng-if="!vm.shuffleWonCards" class="super">*</span></label>
      </div>
      <div class="center">
        <button class="green" ng-click="vm.runSimulation()" ng-disabled="vm.simRunning">Go!</button>
        <button class="red" ng-click="vm.stopSimulation()" ng-disabled="!vm.simRunning">Stop</button>
      </div>
      <div>
        <div class="progress-bar">
          <div class="progress" ng-style="{width: vm.progress + '%'}"></div>
          <div class="progress-percent">{{vm.progress | number: 0}}%</div>
          <div class="center">{{vm.gamesPlayed | number}} / {{vm.maxGames | number}} ({{vm.gamesTerminated}} Terminated)</div>
        </div>
      </div>
      <div class="footnotes">
        <div ng-if="!vm.shuffleWonCards"><span class="super">*</span> This has a drastic effect on game length. Games that go longer than {{vm.MAX_ROUNDS_IN_GAME}} rounds will be terminated</div>
      </div>
      <table>
        <tr>
          <th>Rounds Played</th>
          <td>{{vm.totalRoundCount | number}}</td>
        </tr>
        <tr>
          <th>Wars</th>
          <td>{{vm.warCount | number}}</td>
        </tr>
        <tr>
          <th>Min Round Count</th>
          <td>{{vm.minRoundCount === 5000 ? 'N/A' : vm.minRoundCount}}</td>
        </tr>
        <tr>
          <th>Max Round Count</th>
          <td>{{vm.maxRoundCount === 0 ? 'N/A' : vm.maxRoundCount}}</td>
        </tr>
        <tr>
          <th>Average Round Count</th>
          <td>{{vm.avgRoundCount | number: 1}}</td>
        </tr>
      </table>
    </div>
    <div>
      <div>
        <h2>Wins Per Player</h2>
        <canvas class="chart chart-bar" chart-data="vm.data" chart-labels="vm.labels" chart-options="vm.chartOptions"></canvas>
      </div>
      <div>
        <h2>Game Length</h2>
        <canvas class="chart chart-line" chart-data="vm.roundData" chart-labels="vm.roundDataLabels" chart-options="vm.roundCountChartOptions"></canvas>
      </div>
    </div>
  </div>

   <!--

   ENDLESS WAR

   -->

   <div class="war-simulation" ng-controller='EndlessSimulationController as vm'>
     <div>
       <h2>Endless War - {{vm.maxRounds | number}} Rounds</h2>
       <p>
         The game never ends! At the end of the round, all cards are placed in a
         global discard pile. When a player runs out of cards, the discard pile is
         added to the deck, shuffled, and the cards are distributed evenly between
         all players in the game.
       </p>
       <div class="center">
         <button class="green" ng-click="vm.runSimulation()" ng-disabled="vm.simRunning">Go!</button>
         <button class="red" ng-click="vm.stopSimulation()" ng-disabled="!vm.simRunning">Stop</button>
       </div>
       <div class="center">
         <input type="range" min="100" max="10000" step="100" value="1000" ng-model="vm.maxRounds" ng-disabled="vm.simRunning"/>
       </div>
       <div>
         <div class="progress-bar">
           <div class="progress" ng-style="{width: vm.progress + '%'}"></div>
           <div class="progress-percent">{{vm.progress | number: 0}}%</div>
           <div class="center">{{vm.roundsPlayed | number}} / {{vm.maxRounds | number}}</div>
         </div>
       </div>
     </div>
     <div>
       <div>
         <h2>Wins Per Player</h2>
         <canvas class="chart chart-bar" chart-data="vm.data" chart-labels="vm.labels" chart-options="vm.chartOptions"></canvas>
       </div>
     </div>
   </div>
</div>
{% endraw %}
